[submodule "mcp-chatbot"]
	path = chatbot/mcp-chatbot
	url = https://github.com/3choff/mcp-chatbot.git
[submodule "AutoDAN"]
	path = MCP/attack/AutoDAN
	url = https://github.com/SheltonLiu-N/AutoDAN
[submodule "CipherChat"]
	path = MCP/attack/CipherChat
	url = https://github.com/RobustNLP/CipherChat
[submodule "CodeChameleon"]
	path = MCP/attack/CodeChameleon
	url = https://github.com/huizhang-L/CodeChameleon
[submodule "DeepInception"]
	path = MCP/attack/DeepInception
	url = https://github.com/tmlr-group/DeepInception
[submodule "persuasive_jailbreaker"]
	path = MCP/attack/PAP/persuasive_jailbreaker
	url = https://github.com/CHATS-lab/persuasive_jailbreaker
[submodule "ReNeLLM"]
	path = MCP/attack/ReNeLLM
	url = https://github.com/NJUNLP/ReNeLLM
